*{
    margin:0; 
    text-align: center;
}

a{
    text-decoration: none;
}

p{
    margin: 5px 0;
}

.top_main{
    margin-top: 10%;
}

.background{
    background-color: rgb(242, 242, 242);
}

input[type="submit"]{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
    font-size: 20px;
}

input[type="submit"]:ctive{
    background: #00bcd4;
    color: white;
}

input[type="text"]{
    padding: 10px 10px;
    font-size: 20px;
}



header{
    background-color: #176A84;
    font-size: 35px;
    text-align: center;
    color: #E1D7B3;
    padding: 30px 0px;
    font-family: "Nico Moji";
}

footer{
    text-align: center;
    background-color: rgb(189, 82, 93);
    color: rgb(203, 220, 220);
    padding: 30px 0px;
    font-family: "Nico Moji";
}

.main{
    background-color: rgb(242, 242, 242);
    padding: 20px 0px;
    font-family: 'Kosugi Maru', sans-serif;
}

.exam_method{
    display: flex;
    text-align: center;
}

.once, .number, .target{
    margin: 50px 30px;
}

.detail{
    margin: 2em 0;
    padding: 0;
}

.detail label{
    padding: 15px;
    font-weight: bold;
    border: solid 2px black;
    cursor :pointer;
}

.detail label:hover{
    background: #efefef; 
}

.detail input{
    display: none;
}

.detail .hidden_detail{
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.detail input:checked ~ .hidden_detail{
    padding: 30px 0;
    height: auto;
    opacity: 1;
}


.koukoku{
    margin: 100px;
}